<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @testimonial.content %>
</p>

<p>
  <strong>Star rating:</strong>
  <%= @testimonial.star_rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @testimonial.user %>
</p>

<p>
  <strong>Business:</strong>
  <%= @testimonial.business %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
